{% if role_app_mysql_mysql_version == '5.5' and role_app_mysql_tmp_vault_root_auth_type == 'password' %}
update mysql.user set password=password('{{ role_app_mysql_vault_db_root_pw }}') where user='root';
FLUSH PRIVILEGES;
{% elif role_app_mysql_mysql_version == '5.5' and role_app_mysql_tmp_vault_root_auth_type == 'socket' %}
INSTALL PLUGIN auth_socket SONAME "auth_socket.so";
update mysql.user set plugin='{{ role_app_mysql_vault_root_auth_plugin }}' where user='root';
FLUSH PRIVILEGES;
{% elif role_app_mysql_mysql_version == '5.7' and role_app_mysql_tmp_vault_root_auth_type == 'password' %}
# update mysql.user set password=password('{{ role_app_mysql_vault_db_root_pw }}'), plugin='{{ role_app_mysql_vault_root_auth_plugin }}' where user='root';
UPDATE mysql.user SET authentication_string = PASSWORD('{{ role_app_mysql_vault_db_root_pw }}'), password_expired = 'N' WHERE User = 'root' AND Host = 'localhost';
# ALTER USER 'root'@'localhost' IDENTIFIED with '{{ role_app_mysql_vault_root_auth_plugin }}' BY '{{ role_app_mysql_vault_db_root_pw }}';
FLUSH PRIVILEGES;
{% elif role_app_mysql_mysql_version == '5.7' and role_app_mysql_tmp_vault_root_auth_type == 'socket' %}
# update mysql.user set plugin='{{ role_app_mysql_vault_root_auth_plugin }}' where user='root';
ALTER USER 'root'@'localhost' IDENTIFIED WITH auth_socket;
FLUSH PRIVILEGES;
{% elif role_app_mysql_mysql_version == '8.0' and role_app_mysql_tmp_vault_root_auth_type == 'password' %}
ALTER USER 'root'@'localhost' IDENTIFIED with '{{ role_app_mysql_vault_root_auth_plugin }}' BY '{{ role_app_mysql_vault_db_root_pw }}';
FLUSH PRIVILEGES;
{% elif role_app_mysql_mysql_version == '8.0' and role_app_mysql_tmp_vault_root_auth_type == 'socket' %}
ALTER USER 'root'@'localhost' IDENTIFIED WITH auth_socket;
FLUSH PRIVILEGES;
{% endif %}
